@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
.header-area {
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repear;
  background-size: cover;
}
.banner {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  text-align: center;
  z-index: 1;
  flex-wrap: wrap;
}
.banner h1 {
  font-weight: 800;
}
.banner p {
  font-weight: 700;
}
.banner__image{
    width:100%
}

@media screen and (min-width: 480px) {
  .banner__image{
  

    
  }
}
/* Navbar */
.navbar {
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 17px 0;
}

.main__menu {
  display: flex;
  margin-right: 5rem ;
}

.nav__items {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.click__menu {
  font-size: 2rem;
  cursor: pointer;
  margin: 20px;
  display: none;
}

.main__menu .close__menu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.logo {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 5rem;
  font-family: sans-serif;
  padding-top: 13px;
  padding-bottom: 10px;
  letter-spacing: 1px; 
}


@media (max-width:800px) {

.main__menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  transition: top 2s ease;
  background-color: #fff;

}

.main__menu .close__menu {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}

.click__menu {
  display: block;
}


.toggle__open {
  display: flex;
  top: 0;
  transition: top 2s ease;
}
.toggle__close {
  top: -100%;
  transition: top 2s ease;
}


}
