.section6__wrapper{
    height: 600px;
}
.text__heading{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: black;
    
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 30px;
}
.btn-section{
    position: relative;
    display: flex;
    justify-content: center;
}
@media (max-width:800px){
    .text__heading{
        font-size: 30px;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
        
    }
}