.wrapper{
    background-color: #fff;
    height: 400px;
    align-items: center;
    display: flex;
    /* border:12px solid greenyellow; */
    width:100%;
}
.container__firstrow{
    /* padding-top: 90px; */
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

  /* @media (max-width: 440px) {
    .space{
        margin-top:600px;
        border:"8px solid red"
    }



  }
  */
   
  