.wrapper{
    background-color: #fff;
    height: 300px;
}
.container__firstrow{
    padding-top: 40px;
}
@media screen and (max-width: 800px) {
    .wrapper{
        height: 500px;
        padding-top: 20px;
    }
    .container__firstrow{
        padding-top: 10px;
    }
  }